DB_USER=postgres
DB_PASS=password
DB_IP=127.0.0.1
DB_PORT=5432
DB_NAME=coop_accounting
PLATFORM_DB_NAME=coop_platform
SECRET_KEY=coop_cda_secret_key_change_in_production
PORT=8040
FLASK_ENV=development
